@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;1,300&display=swap");
:root {
  --Text: #151618;
}

body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
  // font-family: 'Cormorant', serif;
  color: var(--Text);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
button {
  font-family: "Open Sans", sans-serif;
  border: none;
  background: transparent;
}
ol,
ul {
  list-style: none;
}
a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.title {
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  @media (max-width: 400px) {
    font-size: 24px;
  }
}
.btn {
  border: 1px solid var(--Black, #151618);
  background: var(--White, #fff);
  padding: 12px 41px;
}
.mobile-list,
.mobile-icon,
.header__items-exc {
  display: none;
}
.open-nav {
  display: none;
  @media (max-width: 767.98px) {
    display: block;
  }
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

// ---------------------------------
.header {
  min-height: 142px;
  margin: 30px 0;
  @media (max-width: 1000px) {
    .header {
      min-height: 112px;
    }
    min-height: 110px;
  }
  @media (max-width: 767.98px) {
    min-height: 110px;
    margin: 20px 0;
  }
  @media (max-width: 500px) {
    min-height: 75px;
    margin: 10px 0px -2px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767.98px) {
      padding: 0 60px;
    }
    @media (max-width: 500px) {
      padding: 0 10px;
    }
  }

  &__nav {
  }

  &__list {
    display: flex;
    column-gap: 65px;
    transition: all ease-in 0.7s;

    @media (max-width: 840px) {
      column-gap: 45px;
    }
    @media (max-width: 767.98px) {
      transform: translateY(-150%);
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      text-align: center;
      width: 500px;
      padding-top: 60px;

      background-color: white;
    }
    @media (max-width: 705px) {
      width: 431px;
    }
    @media (max-width: 640px) {
      width: 360px;
    }
    @media (max-width: 480px) {
      width: 320px;
    }
    @media (max-width: 420px) {
      width: 253px;
    }
    &__open {
      transform: translateY(0);
    }
  }

  &__items {
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    cursor: pointer;
    font-size: 18px;
    &:hover {
      font-weight: 700;
      color: #000;
    }
  }
}
.container {
}
.logo {
  margin-bottom: 40px;
  @media (max-width: 1000px) {
    margin-bottom: 0px;
  }
  @media (max-width: 767.98px) {
    transform: translateX(100%);
  }
  @media (max-width: 500px) {
    img {
      height: 60px;
    }
  }
}
.header-active {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &__item {
    &:last-child {
      margin-left: 80px;
      @media (max-width: 1000px) {
        margin-left: 30px;
      }
    }
  }
}
.header-active-basket {
}
@media (max-width: 768.98px) {
  .mobile-list {
    display: block;
    border-top: 2px solid #f7f2ea;
    padding-top: 60px;
    margin-top: 60px;

    &__item {
      font-size: 13px;
      font-weight: 300;
    }
  }
  .mobile-icon {
    margin-top: 60px;
    display: block;
    background-color: #f7f2ea;
    margin-right: -30px;
    margin-left: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
    }
  }
  .open__nav {
  }
  .header__items-exc {
    display: flex;
    justify-content: flex-end;
  }
  .open-nav {
    cursor: pointer;
  }
}

// ------------------------------------------------------------
.section1 {
  background-image: url("./img/section1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: "Cormorant", serif;
    @media (max-width: 420px) {
      min-height: 367px;
    }
  }

  &__title {
    font-weight: 400;
    max-width: 785px;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
    @media (max-width: 767.98px) {
      font-size: 40px;
    }
    @media (max-width: 500px) {
      max-width: 685px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
  }

  &__text {
    max-width: 550px;
    font-size: 24px;
    margin-bottom: 50px;
    @media (max-width: 420px) {
      font-size: 13px;
      margin-bottom: 30px;
    }
  }
}

// -----------------------------------------------------------------------------

.text {
  &__container {
    padding: 150px 0;
    text-align: center;
    p {
      max-width: 705px;
      margin: 0 auto;
      font-family: Cormorant;
      font-size: 40px;
      font-style: italic;
      font-weight: 300;
    }
    @media (max-width: 1130px) {
      padding: 120px 0 130px;
    }
    @media (max-width: 500px) {
      padding: 60px;
      p {
        font-size: 16px;
        max-width: 376px;
      }
    }
  }
}

// ---------------------------------------------------------------------

.colections {
  padding-bottom: 150px;

  &__container {
  }

  &__title {
  }

  &__list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    @media (max-width: 1230px) {
      gap: 35px;
    }
    @media (max-width: 1220px) {
      gap: 25px;
    }
    @media (max-width: 1180px) {
      gap: 10px;
    }
    @media (max-width: 1130px) {
      gap: 0px;
    }
    @media (max-width: 450px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: hidden;
    }
    @media (max-width: 400px) {
      font-size: 24px;
      margin-top: 0;
    }
  }
  @media (max-width: 450px) {
    padding-bottom: 60px;
  }
}

.colections-item {
  flex-basis: 205px;
  &__img {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  @media (max-width: 450px) {
    &:last-child {
      max-width: 190px;
      grid-column: span 2;
      justify-self: center;
    }
  }
}
.colections-item-text {
  padding-top: 3px;
  text-align: center;
  font-family: Cormorant;
  font-size: 24px;
}

// ----------------------------------------------------------------
.clients {
  padding: 60px 0;
  background-color: #f7f2ea;
  @media (max-width: 767.98px) {
  }

  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 26px;
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      gap: 30px 76px;
    }
    @media (max-width: 700px) {
      gap: 30px 36px;
    }
    @media (max-width: 660px) {
      gap: 30px 20px;
    }
  }

  &__item {
    flex-basis: 280px;
    @media (max-width: 1100px) {
      &:last-child {
        display: none;
      }
    }
    @media (max-width: 767.98px) {
      flex-basis: 220px;
      &:last-child {
        display: block;
      }
    }
    @media (max-width: 510px) {
      flex-basis: 200px;
    }
    @media (max-width: 479px) {
      flex-basis: 100%;
      &:last-child {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__item-text {
    font-style: italic;
    font-weight: 300;
  }

  &__item-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }
}

// ------------------------------------------------------------------------------

.blog {
  padding: 150px 0;
  @media (max-width: 1000px) {
    padding: 120px 0;
  }
  @media (max-width: 570px) {
    padding: 60px 0;
  }

  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__box {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 58px;
    @media (max-width: 980px) {
      gap: 40px 28px;
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__box-item {
    flex-basis: 542px;
    display: flex;
    gap: 0 20px;
    @media (max-width: 1180px) {
      flex-basis: 500px;
    }
    @media (max-width: 1180px) {
      &:nth-child(even) {
        margin-left: 90px;
      }
    }
    @media (max-width: 650px) {
      &:nth-child(even) {
        margin-left: 30px;
      }
    }
    @media (max-width: 570px) {
      flex-basis: 100%;
      &:nth-child(even) {
        margin-left: 0px;
      }
    }
    @media (max-width: 510px) {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      max-width: 270px;
    }
  }

  &__box-img {
    img {
    }
    @media (max-width: 510px) {
      width: 270px;
    }
  }

  &__box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 510px) {
      text-align: center;
    }
  }

  &__box-description {
    font-family: Cormorant;
    font-size: 24px;
  }

  &__box-poet {
    font-size: 13px;
    font-weight: 300;
  }

  &__box-link {
    width: 30px;
    position: relative;
    &::after {
      content: "";
      width: 5px;
      height: 10px;
      background-image: url("./img/icon.svg");
      position: absolute;
      top: 6px;
      right: -22px;
    }
    @media (max-width: 510px) {
      transform: translateX(250%);
      margin-top: 10px;
    }
  }
}
.blog__btn {
  display: block;
  margin: 0 auto;
}

// --------------------------------------------------------------------------

.email {
  background-color: #f7f2ea;
  padding: 100px 0;
  @media (max-width: 1000px) {
    padding: 60px 0;
  }

  &__container {
  }

  &__title {
    text-align: left;
    margin-bottom: 50px;
    @media (max-width: 1000px) {
      text-align: center;
    }
    @media (max-width: 550px) {
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 40px;
    @media (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    @media (max-width: 1000px) {
      max-width: 780px;
      margin: 0 auto;
      p {
        text-align: center;
      }
    }
    @media (max-width: 550px) {
      font-size: 13px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      max-width: 580px;
      margin: 0 auto;
    }
  }

  &__input {
    background-color: transparent;

    width: 430px;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-bottom: 1px solid #b8b58b;
    padding: 3px 15px;
    margin-right: 25px;
    @media (max-width: 600px) {
      width: 370px;
    }
    @media (max-width: 550px) {
      width: 315px;
      align-self: self-end;
    }
    @media (max-width: 488px) {
      width: 260px;
    }
    @media (max-width: 440px) {
      width: 180px;
    }
    @media (max-width: 380px) {
      width: 180px;
    }
    &::placeholder {
      color: #b8b58b;

      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
    }
    &:focus {
      outline: none;
    }
  }
}
.title {
}
.btn {
  font-size: 20px;
  @media (max-width: 450px) {
    padding: 5px 15px;
  }
}
.checkbox {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  padding-left: 20px;
  &:checked + .checkbox-style {
    background-color: aqua;
  }
  &__text {
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
  }
}
.checkbox-style {
  margin-top: 5px;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
}
label {
  margin-top: 16px;
}

// -------------------------------------------------------
.prioritis {
  padding: 150px 0;
  @media (max-width: 100px) {
    padding: 120px 0;
  }
  @media (max-width: 767px) {
    padding: 60px 0;
  }

  &_list {
    display: flex;
    gap: 50px 30px;
    justify-content: center;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      column-gap: 210px;
    }
    @media (max-width: 830px) {
      column-gap: 160px;
    }
    @media (max-width: 770px) {
      column-gap: 70px;
    }
  }

  &__container {
  }

  &__title {
    margin-bottom: 60px;
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    text-align: center;
    img {
      margin-top: 40px;
      @media (max-width: 400px) {
        margin-top: 10px;
      }
    }
  }

  &__item-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    @media (max-width: 400px) {
      font-size: 20px;
    }
  }
  &__item-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 400px) {
      font-size: 10px;
    }
  }
}

// ------------------------------------------------

.footer {
  background-color: #f7f2ea;
  padding-top: 100px;
  padding-bottom: 18px;
  @media(max-width:768px){
	padding-top: 50px;
 }

  &__container {
  }

  &__top {
    display: flex;
	 justify-content: center;
    gap: 0 150px;
	 @media(max-width:1200px){
		gap: 0 50px;
	 }
	 @media(max-width:680px){
		flex-direction: column;
		gap: 50px 20px;
	 }
	
  }

  &__start {
    display: flex;
    gap: 5px 210px;
	 @media(max-width:1200px){
		gap: 0 80px;

	 }
	 @media(max-width:920px){
		gap: 0 40px;
		
	 }
	 @media(max-width:680px){
		justify-content: space-around;
		gap: 0 180px;
	 }
	 @media(max-width:480px){
		justify-content: space-around;
		gap: 0 80px;
	 }
	 @media(max-width:360px){
		justify-content: space-around;
		gap: 0 60px;
	 }
  }

  &__title {
    margin-bottom: 50px;
    font-family: "Cormorant", serif;
    font-size: 24px;
	 @media(max-width:600px){
		margin-bottom: 20px;
		&--touch{
			text-align: center;
		}
	 }
	
  }

  &__logo {
  }

  &__bottom {
	margin-top: 100px;
	display: flex;
	gap:190px;
	@media(max-width:1200px){
		margin-top: 50px;
	 }
	 @media(max-width:500px){
		margin-top: 30px;
		gap:5px;
		justify-content: space-between;
	 }
	p{
		font-family: "Open Sans";
font-size: 16px;
font-weight: 300;
@media(max-width:500px){
font-size: 12px;
 }
	}
  }
}

.products-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }
}
.footer-contact {
  display: flex;
  gap: 0 40px;
  @media(max-width:860px){
	display: block;
	max-width: 270px;
 }
 @media(max-width:680px){
	max-width:none;
 }

  &__item {
    a {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    
  }

  &__link {
  }

  &__text {
    flex-basis: 270px;
    padding-top: 80px;
	 @media(max-width:860px){
		padding-top: 0px;
		
	 }
    p {
      font-size: 16px;
      font-weight: 300;
    }
    span {
      display: inline-block;
      margin-top: 20px;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 300;
      max-width: 129px;
		margin-bottom: 0;
		@media(max-width:860px){
			margin-bottom: 30px
    }
	 @media(max-width:680px){
		margin-top: 10px;
		max-width: none;
	 }
	}
  }

  &__content {
    flex-basis: 270px;
    p {
      font-size: 13px;
      font-weight: 300;
      font-family: "Open Sans";
    }
  }

  &__wrapper {
  }

  &__left {
    margin-top: 20px;
    display: flex;
    gap: 0 50px;
  }

  &__list {
  }

  &__right {
  }
}
.logo {
}
.social {
  &__list {
	display: flex;
	align-items: center;
	column-gap: 20px;
	margin-top: 50px;
  }

  &__item {
  }
}
.sociql {
  &__link {
  }
}
.pay {
  &__list {
	display: flex;
	align-items: center;
	gap:20px;
  }

  &__item {
  }
}

.footer-compani {
  flex-basis: 155px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__link {
    display: inline-block;
    min-width: 155px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }
}
